%table.table.table-hover
  %thead
    %tr
      %th.col-method
        %span.in-grey-600.ml-40= 'method'
      %th
        %span.in-grey-600= 'days'
      %th
        %span.in-grey-600= 'price'

  %tbody
  - Delivery.where(country_id: @order.shipping_address.country_id).each do |delivery|
    %tr.delivery-item
      %td
        .form-group.radio.mt-0.mb-0
          = render 'deliveries/delivery_checkbox', delivery: delivery
      %td
        %span= delivery.transfer
      %td
        %span.font-16.in-gold-500.delivery-cost= delivery.price
