%main.container
  = link_to @previous_path, class: 'general-back-link' do  
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        -@presenter.show_pictures.each_with_index do |picture, index|
          -if index == 0
            .mb-20
              %img.img-responsive.centered{src:picture.image_url_url(:main) }
          -else              
            %a.img-link                   
              = image_tag(picture.image_url_url)

    .col-sm-6
      %h1.mt-res-0
        = @presenter.show_book_title
      %p.in-grey-600.small
        = @presenter.show_author_names
      .row
        .col-xs-12.col-md-5
          %p.h1.in-gold-500.mt-10= @presenter.show_book_price
        =render '/shared/change_amount', object: @presenter.book
      .pt-20.divider-lg
        %p Description
        %p.in-grey-600.small.line-height-2
          = @presenter.show_short_description
          %a.in-gold-500.ml-10.read-more{href: "#"} Read More              
      .pt-20.divider-lg
        .clearfix
          %p.general-item-info.pull-right
            = @presenter.show_book_publication
          %p.break-word Year of publication
      .pt-20.divider-lg
        .clearfix
          %p.general-item-info.pull-right
            =@presenter.show_book_dimensions
          %p.break-word Dimensions
      .pt-20.divider-lg
        .clearfix
          %p.general-item-info.pull-right
            = @presenter.show_book_materials
          %p.break-word Materials
  .mb-80
    %h3.in-gold-500.mb-25 
      = @presenter.show_count_of_reviews
    = render @presenter.show_reviews
    -if can? :create, Review
      .h3.in-gold-500
      = render '/reviews/review_form'
    / -else
    /   .h3.in-gold-500            
    /     =link_to 'Sign in', new_user_session_path
        
:javascript
  $('.read-more').on('click', function(e) {
  e.preventDefault()
  $(this).parent().html("#{escape_javascript @book.description}")
  })

        
