= simple_form_for @book, as: @review_form, id: 'review_form' do |f|
  .form-group
    = f.input :title
  .form-group
    = f.input :rate, class: '' do
      .rate-fields
        - 5.downto(1).each do |star|
          = f.radio_button :rate, star, id: "rate_#{star}",
            class: 'input-star', hidden: true
          %label.label-star{ for: "rate_#{star}" }
            %i.fa.fa-star.rate-empty
  .form-group
    = f.input :description, as: :text
  .text-center.general-text-align
    = f.button :submit, 'Save', class: "btn btn-default mb-35"
