%main.container.general-main-wrap
  .row
    .col-sm-6
      .text-center
        %h1.general-login-title.in-gold-500= t('devise.fast_registrations.quick_session.title')
        = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon' do
          %i.fa.fa-facebook-official
        %p.general-login-text or
      .general-form
        =simple_form_for(@existent_user, as: resource_name, 
                          url: session_path(resource_name)) do |f|
          .form-group.mb-30
            %h5.grey-600= t('devise.fast_registrations.quick_session.message')
            = f.input :email
            = f.input :password do
              = f.input_field :password, class: 'form-control'
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'    
              %a.help-block.in-gold-500{href: new_password_path(resource_name)} Forgot password?
              
          .form-actions.actions.text-center
            = f.button :submit, "Log in with Password",class: 'btn btn-default mb-20'

    .col-sm-6
      .text-center
        %h3.general-login-title.in-gold-500= t('devise.fast_registrations.quick_registration.title')
        = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon' do
          %i.fa.fa-facebook-official
        %p.general-login-text or
      .general-form
        = simple_form_for(@new_user, as: resource_name, method: :post,
                          url: fast_registration_path ) do |f|
          %h5.grey-600= t('devise.fast_registrations.quick_registration.message')
          %p.general-login-text= t('devise.fast_registrations.quick_registration.message_quick_registration')
          .form-group.mb-30
            = f.input :email
          .form-actions.actions.text-center
            = f.button :submit, 'Continue to Checkout',class: 'btn btn-default mb-20'
