!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}    
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet"}
    %link{href: "../css/style.css", rel: "stylesheet"}
    %title Bookstore
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    - flash.each do |type, message|
      %div{class: "alert alert-#{change_flash_class(type)}"}
        %button{type: "button", class: "close", "data-dismiss": "alert", "aria-label": "Close"}
          %span{"aria-hidden": "true"} &times;
        = message
    = yield
    = render 'layouts/footer' 